* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: #213260;
}

h1 {
  padding: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 1rem;
}

.customer-block {
  width: 30%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  margin: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 125px;
  display: flex;
  transition: all 0.3s;
  cursor: pointer;
}

.customer-block:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.customer-block img {
  width: 30%;
}

.customer-desc {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: 1px;
  width: 70%;
  position: relative;
  background: linear-gradient(
    77deg,
    rgba(34, 129, 195, 1) 0%,
    rgba(253, 45, 101, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customer-name {
  text-transform: capitalize;
}

p.email {
  font-size: 12px;
}

p.location {
  text-transform: capitalize;
}

span {
  margin-left: 5px;
}

span::before {
  content: ",";
  position: relative;
  right: 4px;
}

p.since {
  font-size: 10px;
  display: block;
  width: auto;
  position: absolute;
  right: 15px;
  top: 20px;
  border-radius: 0.25rem;
  text-transform: capitalize;
  background: linear-gradient(
    77deg,
    rgba(34, 129, 195, 1) 0%,
    rgba(253, 45, 101, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .customer-block {
    width: 46%;
  }
}

@media only screen and (max-width: 560px) {
  .customer-block {
    width: 100%;
  }
}

/* background: rgb(34,129,195);
background: linear-gradient(77deg, rgba(34,129,195,1) 0%, rgba(253,45,101,1) 100%); */
