* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 1rem;
}

.customer-block {
  width: 30%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  margin: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 125px;
  display: flex;
}

.customer-block img {
  width: 30%;
}

.customer-desc {
  padding: 1rem;
}

.customer-name {
  text-transform: capitalize;
  letter-spacing: 1px;
}
